<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Cars
    </div>
</div>
<div>

    <table border="1">
        <tr
                th:each="car, iStat : ${cars}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${car.model}" />
            <td th:text="${car.series}" />
            <td th:text="${car.ownerName}" />
        </tr>
    </table>
</div>
</body>
</html>